<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>myservlet</servlet-name>
        <servlet-class>com.user.servlet.myservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.user.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.user.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BooksAdd</servlet-name>
        <servlet-class>com.admin.servlet.BooksAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBooksServlet</servlet-name>
        <servlet-class>com.admin.servlet.EditBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BooksDeleteServlet</servlet-name>
        <servlet-class>com.admin.servlet.BooksDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.user.servlet.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcart</servlet-name>
        <servlet-class>com.user.servlet.addcart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remove_book</servlet-name>
        <servlet-class>com.user.servlet.RemoveBookCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOldBook</servlet-name>
        <servlet-class>com.user.servlet.AddOldBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOldBook</servlet-name>
        <servlet-class>com.user.servlet.DeleteOldBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>com.user.servlet.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.user.servlet.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.user.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loginservlet</servlet-name>
        <servlet-class>Loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Callbackservlet</servlet-name>
        <servlet-class>Callbackservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myservlet</servlet-name>
        <url-pattern>/myservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BooksAdd</servlet-name>
        <url-pattern>/BooksAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBooksServlet</servlet-name>
        <url-pattern>/EditBooksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BooksDeleteServlet</servlet-name>
        <url-pattern>/BooksDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcart</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove_book</servlet-name>
        <url-pattern>/remove_book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOldBook</servlet-name>
        <url-pattern>/AddOldBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOldBook</servlet-name>
        <url-pattern>/DeleteOldBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Callbackservlet</servlet-name>
        <url-pattern>/callback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/google</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
